/* Position and sizing of burger button */
.back-arrow,
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 4vh;
  top: 3vh;
}

.back-arrow {
  z-index: 1000;
  top: 4vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $warmGray;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
  background: transparent;
}

.bm-cross-button > span {
  top: 50px;
  left: 0;
  right: 0;
}

/* Color/shape of close button cross */
.bm-cross {
  width: 1px !important;
  height: 30px !important;
  background: $warmGray;
}

/* General sidebar styles */
.bm-menu {
  font-size: 1.15em;
  overflow: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  background-color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
