$lightgreen: #d7f6d7;

$lightred: #fab3a8;
$orangecream: #fcd48c;
$lemon: #fcf666;
$fungreen: #8cff8c;
$skyblue: #7beffa;
$lilac: #b8b8fe;
$warmpurple: #dbb3fa;
$lightpink: #ffbdff;

$borderGray: #949393;

