//$lightgreen: #d7f6d7;

// $lightred: #fab3a8;
// $orangecream: #fcd48c;
$lemon: #fcf666;
$fungreen: #8cff8c;
// $skyblue: #7beffa;
$lilac: #b8b8fe;
// $warmpurple: #dbb3fa;
$lightpink: #ffbdff;
//
$borderGray: #949393;

// New Designs //

$bg: rgb(250, 250, 250);
$lightred: rgb(236, 64, 122);
$warmpurple: rgb(149, 117, 205);
$orangecream: rgb(255, 138, 101);
$lightgreen: rgb(77, 182, 172);
$skyblue: rgb(79, 195, 247);
$text: black;
$placeholderText: rgb(144, 164, 174);
