//common to distortions

.allOrNothingThinking {
  background-color: #fab3a8,
}

.overgeneralization {
  background-color: #fcd48c,
}

.mentalFilter {
  background-color: #fcf666,
}

.discountingThePositive {
  background-color: #8cff8c,
}


.jumpingToConclusions {
  background-color: #7beffa,
}


.magnifyingOrMinifying {
  background-color: #b8b8fe,
}

.emotionalReasoning {
  background-color: #dbb3fa,
}

.shouldStatements {
  background-color: #ffbdff,
}

.labeling {
  background-color: #ffbec8,
}

.personalizationAndBlame {
  background-color: #ffe1ac,
}
