@import "./colors.scss";

.page-entry-edit {
  .form-row div {
    width: auto;
    flex: 1;
    float: none;
  }

  .form-row textarea {
    width: 100%;
    box-shadow: 0 1px 23px #eee;
    font: inherit;
    color: $bluishGray;
    margin: 9px 0;
    padding: 9px;
    border: 1px solid white;
    border-radius: 4px;
    //height is getting overridden somewhere at 40px but where???
    height: 10rem !important;
  }

  .form-label {
    font-weight: bold;
  }

  form {
    max-width: 100vw;
  }

  .cancel {
    padding: 0.8rem;
    border-radius: 3px;
    background-color: white;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
  }
}

.label-link-container {
  display: flex;
  justify-content: space-between;
}

.help {
  color: $lightred;
}

button {
  background-color: transparent;
}

.bottom-button {
  width: 100%;
  padding: 10px;
}
