//page-home

.page-home {
  display: flex;
  
  div:first-child {
    max-width: 100%;
    flex: 1;
  }
 
  
  .EntryList .Table {
    tr {
      display: flex;
    }
    .entryDate,
    .entryTitle {
      flex: 4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0;
      border-left: 0;
      height: 9vh;
      
      div {
        display: flex;
        justify-content: flex-start;
        a {
          z-index: 2;
        }  
      }
      
      .buttonWrapper {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        
       button {
          background: #eee;
          color: #999;
          border-color: lightgray;
          vertical-align: center;
          display: flex;
        
        span {
          top: 0;
          padding: 3px 1px;
        }
      }
    }
    }  
    .entryDate {
      flex: 2;
    }
  }
  tr {
    height: 9vh;
  }
}

.entries-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin: 0 auto;
}

.pagination > li.active>a {
  z-index: auto;
}

@media only screen and (min-width: 768px) {
  .page-home {
    .EntryList .Table {
      .entryTitle {
        .buttonWrapper {
          display: flex;
          justify-content: center;
          flex: 1;
          
         button {
            background: #eee;
            color: #999;
            border-color: lightgray;
            vertical-align: center;
            display: flex;
          
          span {
            top: 0;
            padding: 3px 1px;
          }
          }
        }
      }
    }
  }
} 
