//page-home

.page-home {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 4vw;
    margin-top: 1vw;
  }

  div:first-child {
    max-width: 100%;
    flex: 1;
  }

  .EntryList .Table {
    height: 54vh;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    tr {
      display: flex;
      height: 9vh;
    }
    .entryDate,
    .entryTitle {
      flex: 4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid lightgray;
      border-top: 0;
      height: 9vh;

      div {
        display: block;
        justify-content: flex-start;
        flex: 3;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 0px;
        overflow: hidden;

        a {
          z-index: 2;
        }
      }

      .buttonWrapper {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        button {
          background: #eee;
          color: #999;
          border-color: lightgray;
          vertical-align: center;
          display: flex;

          span {
            top: 0;
            padding: 3px 1px;
          }
        }
      }
    }
    .entryDate {
      flex: 2;
    }
  }
}

.rc-pagination {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .page-home {
    .EntryList .Table {
      .entryTitle {
        .buttonWrapper {
          display: flex;
          justify-content: center;
          flex: 1;

          button {
            background: #eee;
            color: #999;
            border-color: lightgray;
            vertical-align: center;
            display: flex;

            span {
              top: 0;
              padding: 3px 1px;
            }
          }
        }
      }
      .entryDate,
      .entryTitle {
        padding-left: 30px;
      }
    }
  }
}
