//navigation 
.progress {
  margin: 10px auto;
  width: 300px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  height: 5vh;
}

.nav li {
  border-radius: 3px;
}

//Hamburger menu
.nav li:first-child {
  display: flex;
  flex: 1;
  
  a {
    padding-left: 0;
  }
  
  a span.glyphicon {
  color: lightgray;
  font-size: 24px;
  }
}

.navbar-nav > .edit-button > a {
  display: flex;
}

.nav > li > a {
  padding :0;
}

//Sidebar styles are inlined in the Menu componen
// since it's an npm module


//New button
.edit-button, .home-button {
  padding: 8px;
  justify-content: center;
  border: 1px dashed gray;
  list-style: none;
  
  a {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-around;
  }
  
  span.glyphicon {
    margin-left: 3px;
    top: 0;
  }
}

.home-button {
  border: 1px solid lightgray;
}

.page-home,
.page-entry-view,
.page-entry-edit,
.page-faq,
.page-about {
  margin-top: 15vh;
}
//page-home

.page-home {
  display: flex;
  
  div:first-child {
    max-width: 100%;
    flex: 1;
  }
  
  .EntryList .Table {
    .entryTitle {
      display: flex;
      justify-content: space-between;
      border-bottom: 0;
      border-left: 0;
      
      div a {
        z-index: 2;
      }
    }  
  }
}
.entries-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin: 0 auto;
}

.pagination > li.active>a {
  z-index: auto;
}

//footer

.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 40px;
    padding-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

//page entry-edit

.page-entry-edit {
  
  form {
    width: 500px;
    margin-top: 40px;
  }
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
   vertical-align: middle;
   text-align: center;
}


//page entry view 

.page-entry-view {
  .header, .date {
    display: flex;
    align-items: center;
  }
  .header {
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 3px;
  }
  .edit-button {
    display: inline-flex;
    
    a {
      color: gray;
    }
  }
}

//page about
.page-about {
}

//page faq 
.page-faq {
  margin-top: 15vh;
}

