//navigation 
.progress {
  margin: 10px auto;
  width: 300px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  height: 5vh;
}

.nav li {
  border-radius: 3px;
}

//Hamburger menu
.nav li:first-child {
  display: flex;
  flex: 1;
  
  a {
    padding-left: 0;
  }
  
  a span.glyphicon {
  color: lightgray;
  font-size: 24px;
  }
}

//Sidebar styles are inlined in the Menu componen
// since it's an npm module


//New button
.nav li:nth-child(2){
  border: 1px dashed gray;
  
  a {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  span.glyphicon {
    margin-left: 3px;
  }
}

//page-home

.page-home {
  margin-top: 15vh;
  display: flex;
  
  div:first-child {
    max-width: 100%;
  }
}

.entries-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin: 0 auto;
}

.pagination>.active>a {
  z-index: 1;
}

.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 40px;
    padding-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

//page entry-edit

.page-entry-edit {
  margin-top: 15vh;
}

.page-entry-edit form {
  width: 500px;
  margin-top: 40px;
}

//page about
.page-about {
  margin-top: 15vh;
}

//page faq 
.page-faq {
  margin-top: 15vh;
}

