@import 'navbar';
@import 'home';
@import 'SplashAndOnboarding';
@import 'footer';
@import 'edit-entry';
@import 'view-entry';
@import 'no-entries';
@import 'distortions';
@import 'bootstrap-min.css';
@import 'bootstrap-theme-min.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html { height: 100%; overflow:auto; }
body { height: 100%; }

.home-button {
  border: 1px solid lightgray;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  z-index: 130;
}

.page-home,
.page-entry-view,
.page-entry-edit,
.page-faq,
.page-about {
  height: 100%;
  margin: 15vh auto;
  width: 100vw;
  max-width: 1000px;
  padding: 0 4vw 4vw 4vw;
}

.progress {
  margin: 10px auto;
  width: 300px;
}

//Sidebar styles are inlined in the Menu component
// since it's an npm module


