ul.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

//fuck bootstrap
ul.nav::before,
ul.nav::after {
  display: none;
}

.customNav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 10vh;
  margin: 0;
  z-index: 1 !important;
}

.nav li {
  border-radius: 3px;
}

.loginButton {
  margin-right: 5vw;
}

.userGreetingAndLogOut {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 1vw;
}

.navbar-nav > .new-entry-button > a {
  display: flex;
}

.nav > li > a {
  padding: 0;
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #555;
}

.new-entry-button {
  padding: 8px;
  justify-content: center;
  border: 1px dashed gray;
  list-style: none;

  a {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-around;
  }

  span.glyphicon {
    margin-left: 3px;
    top: 0;
  }
}

.new-entry-button:active {
  background-color: lightgray;
}

@media only screen and (max-width: 320px) {
  .loginButton {
    margin-right: 7vw;
  }

  .user-name {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    width: 100vw;
    padding: 0 4vw;
  }
}
