@import "colors";

ul.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

//fuck bootstrap
ul.nav::before,
ul.nav::after {
  display: none;
}

.customNav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 10vh;
  margin: 0;
  z-index: 1 !important;
  background-color: $backGround;
  border: none;
}

.loginButton {
  margin-right: 5vw;
  border-radius: 500px;
  background-color: $backGround;

  a {
    button {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.btn-default {
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 200px;
}

.logOut {
  display: flex;
  align-items: center;
}

.loginButton,
.loginButton .btn-default,
.logoutButton {
  color: $bluishGray;
  border-color: $silver;
  background-color: $backGround;
}

.user-name {
  color: $bluishGray;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.navbar-nav > .new-entry-button > a {
  display: flex;
}

.nav > li > a {
  padding: 0;
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #555;
}

.new-entry-button {
  display: flex;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: $lightred;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid $lightred;
  border-radius: 200px; //hack o rama
  list-style: none;

  a {
    color: gray;
    align-items: center;
    justify-content: space-around;
  }

  span.glyphicon {
    margin-left: 3px;
    top: 0;
  }
}

.new-entry-button:active {
  background-color: lightgray;
}

@media only screen and (max-width: 320px) {
  .loginButton {
    margin-right: 7vw;
  }

  .user-name {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    width: 100vw;
    padding: 0 4vw;
  }
}
