@import "colors";

.empty-container {
  background-color: #eee;
  padding: 6vw;
}
.quote {
  font-style: italic;
}

.cta {
  border: 1px solid $lightgreen;
  background-color: $lightgreen;
  width: 100px;
  border-radius: 8px;
  color: white;
}

.cta a {
  color: black;
}

.whatIsThis {
  color: $lightred;
}
