.empty-container {
   background-color: #eee;
   padding: 10vw;
}
.quote {
  font-style: italic;
}

.cta {
    border: 1px solid gray;
    background-color: lime;
    width: 100px;
    border-radius: 5px;
    color: black;
}

.cta a {
  color: black;
}