.empty-container {
   background-color: #eee;
   padding: 6vw;
}
.quote {
  font-style: italic;
}

.cta {
    border: 1px solid #a29e9ey;
    background-color: #b5ffb5;
    width: 100px;
    border-radius: 5px;
    color: black;
}

.cta a {
  color: black;
}

