@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "colors";

.page-splash {
  z-index: 1000;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.6);
  justify-content: center;
  align-items: center;

  button div {
    font-size: 40px;
    line-height: 21px;
  }
}

.slide-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
}

p {
  text-align: left;
  margin: 0;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 66vh;
  padding: 30px;
  margin: 0 5vw 15px 5vw;
  box-shadow: 0px 5px 35px black;
}

.slide-container img {
  width: 32vw;
  margin: 1rem 0;
}

button {
  border: 1px solid $borderGray;
}

button.gotItButton {
  position: absolute;
  bottom: 17%;
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 10px;
  box-shadow: none;
  background: transparent;
  border: none;
  color: lightgray;
  padding-bottom: 11px;
}

.slick-list {
  text-align: center;
  height: 100vh;
  margin-top: 50%;
}

.slick-arrow {
  position: absolute;
  border: 1px solid #777; //nonstandard gray to handle .25 opacity for arrow
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  top: 68%;
  z-index: 1000;
}

.slick-prev,
.slick-next,
.slick-prev:focus,
.slick-next:focus {
  background-image: url("../components/icons/back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.25; //hack to make the arrow gray
}

.slick-prev {
  left: 15vw;
}

.slick-next {
  transform: rotate(180deg);
  top: 66%; //rotating causes this
  right: 15vw;
}

.slick-prev:before,
.slick-next:before {
  color: $warmGray;
  content: "";
}

.slick-dots {
  z-index: 100;
  bottom: 38vh;
}

.slick-dots {
  li.slick-active {
    button:before {
      font-size: 10px;
      color: $lightred;
    }
  }
}
.slick-disabled {
  display: none !important;
}

//iphone 5 sizing
@media only screen and (max-width: 320px) {
  .page-splash {
    button div {
      font-size: 30px;
    }

    p {
      font-size: 12px;
    }

    h3 {
      font-size: 20px;
    }
  }
}

* {
  min-height: 0;
  min-width: 0;
}
