@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "colors";

.page-splash {
  z-index: 1000;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.6);
  justify-content: center;
  align-items: center;

  button div {
    font-size: 40px;
    line-height: 21px;
  }
}

.slide-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
}

p {
  text-align: left;
  margin: 0;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 66vh;
  padding: 30px;
  margin: 0 5vw 15px 5vw;
  box-shadow: 0px 5px 35px black;
}

.slide-container img {
  width: 32vw;
  border-radius: 50%;
  border: 1px solid #eee;
}

button {
  border: 1px solid $borderGray;
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 10px;
  box-shadow: none;
  background: transparent;
  border: none;
  color: lightgray;
  padding-bottom: 11px;
}

.slick-list {
  text-align: center;
  height: 100vh;
  margin-top: 50%;
}

.slick-arrow {
  border: 1px solid $silver;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  top: 87vh;
  z-index: 1000;
  color: red;
}

.slick-prev {
  left: 15vw;
}

.slick-prev:before,
.slick-next:before {
  color: $warmGray;
}
.slick-prev:before {
  content: "";
}

.slick-next:before {
  content: "";
}

.slick-next {
  right: 15vw;
}

.slick-dots {
  z-index: 100;
  bottom: 38vh;
}
.slick-disabled {
  display: none !important;
}

//iphone 5 sizing
@media only screen and (max-width: 320px) {
  .page-splash {
    button div {
      font-size: 30px;
    }

    p {
      font-size: 12px;
    }

    h3 {
      font-size: 20px;
    }
  }
}

* {
  min-height: 0;
  min-width: 0;
}
