//page entry view
@import "./colors.scss";

.page-entry-view {
  display: flex;
  flex-direction: column;

  .header,
  .date {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14;
  }
  .header {
    font-weight: bold;
    color: black;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 3px;
  }
  p {
    margin-bottom: 20px;
    color: $grayishBlue;
    font-size: 15px;
    line-height: 21px;
  }
  .home-button,
  .delete-button,
  .edit-button {
    border: 1px solid lightgray;
    display: inline-flex;

    a {
      color: gray;
    }
  }

  .distortions-container {
    margin: 0;
  }

  .labelTitle {
    font-weight: bold;
    font-size: 15px;
  }

  .labelDescription {
    color: $grayishBlue;
    font-weight: lighter;
    font-size: 15px;
  }

  .distortionsView {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px;
    padding-left: 0;
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
  }

  .delete-container {
    align-self: flex-end;
  }
}

@media only screen and (min-width: 769px) {
  .distortions-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    p {
      width: 260px;
      margin: 2% !important;
    }
  }
}
