//page entry view 

.page-entry-view {
  display: flex;
  flex-direction: column;
  
  .header, .date {
    display: flex;
    align-items: center;
  }
  .header {
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 3px;
  }
  .edit-button {
    display: inline-flex;
    
    a {
      color: gray;
    }
  }
  
  .distortions-container {
    margin: 0;
  }
  
  .distortionsView {
    margin: 0 0 10px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }
  
  .delete-container {
    align-self:flex-end;
  }
  
  Button {
    padding: 8px 15px;
    width: 100%;
    padding: 8px 15px;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 769px) {
  .distortions-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  
   p {
      width: 260px;
      margin: 2% !important;
    }
  }
}
  