//page entry view
@import "./colors.scss";

.page-entry-view {
  display: flex;
  flex-direction: column;

  .header,
  .date {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14;
  }
  .header {
    font-weight: bold;
    color: black;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 3px;
  }

  .distortionsHeader {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    color: $grayishBlue;
    font-size: 15px;
    line-height: 21px;
  }
  .home-button,
  .delete-button,
  .edit-button {
    border: 1px solid lightgray;
    display: inline-flex;

    a {
      color: gray;
    }
  }

  .delete-container {
    align-self: flex-end;
  }
}
