//navigation 
.progress {
  margin: 10px auto;
  width: 300px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  height: 5vh;
}

.nav li:nth-child(2){
  border: 1px dashed gray;
}

.nav li:nth-child(2) a{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

 .nav a span.glyphicon {
   margin-left: 3px;
}

//page-home

.page-home {
  margin-top: 15vh;
}


.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 40px;
    padding-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

.users-pagination {
  margin-top: 0;
}

.page-user-edit form {
  width: 500px;
  margin-top: 40px;
}

th {
  background-image: url('/media/pattern.jpg');
}
